:root{
    --yellow_bg: #fddb24;
    --white_bg:#ffffff;
    --gray_bg: #f7f7f7;
    --dark_bd:#2b2a28;
}

.cartera__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.titulo__cartera{
    width: 15%;
    border-bottom: 2px solid   var(--dark_bd);
    display: flex;
    justify-content: center;
}
.cont__Cart{
    background-color: var(--gray_bg);
    width: 100%;
    min-height: 10rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.carta__bolsi{
    background-color: var(--gray_bg) !important;
    color:var(--dark_bd) !important;
    max-width: 20rem;
    box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.158), 1px 3px 18px rgba(0, 0, 0, 0.218);
}
.detalles__bol{
    margin-top: 1rem;   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.carta__bolsi_bod{
    display: flex;
    flex-direction: column;
    align-items: center;
}